#bars {
    margin: 0px 20px 0px 0px;
    font-size: 25px;
    color: rgba(89, 169, 255, 1);
}

.dashboard {
    height: auto;
    display: flex;
    background: rgba(255, 255, 255, 1);
}

.dashboard .left {
    width: 15%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 15px 0px rgba(231, 230, 230, 0.5);
    border-radius: 9px;
    padding: 35px 15px;
    position: relative;

}

.dashboard .left .dashboard-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard .left .dashboard-logo img {
    width: 125px;
    height: 36px;
}

.dashboard .left .dashboard-menu ul {
    padding: 0px;
    margin: 0px;
}

.dashboard .left .dashboard-menu ul li {
    list-style: none;
    margin-bottom: 7px;
}

.dashboard .left .dashboard-menu ul li a {
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    padding: 10px 15px 10px 15.63px;
    font-weight: 400;
    font-size: 11.25px;
    line-height: 13.62px;
    color: rgba(25, 29, 35, 1);

}

.dashboard-active {
    background: rgba(89, 169, 255, 1);
    box-shadow: 0px 12.5px 31.26px 0px rgba(55, 69, 87, 0.1);
    color: rgba(255, 255, 255, 1) !important;
    font-weight: 600 !important;
    font-size: 11.25px !important;
    line-height: 13.62px !important;
    margin-bottom: 20px;
}

.dashboard-active img {
    width: 20px !important;
}

.dashboard .left .dashboard-menu .icon-div {
    width: 25.1px;
    height: 25.1px;
    background: rgba(89, 169, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
}

.dashboard .left .dashboard-menu .icon-div img {
    width: 10px;
}

.dashboard .left .get-pro {
    width: 148.79px;
    height: 161.92px;
    background-image: url('../img/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.dashboard .left .get-pro .content {
    max-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard .left .getpro-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard .left .getpro-logo img {
    width: 30px;
    margin-bottom: 9px;
}

.dashboard .left .get-pro h3 {
    font-weight: 600;
    font-size: 12.5px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

.dashboard .left .get-pro p {
    font-weight: 500;
    font-size: 7.5px;
    line-height: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);

}

.get-pro-btn {
    display: inline-block;
    width: 85px;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    background: rgba(255, 255, 255, 1);
    color: rgba(89, 169, 255, 1);
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    text-decoration: none;
    text-align: center;
}




/* Right Area */

.dashboard .right {
    width: 85%;

    border: 0.75px solid rgba(248, 249, 250, 1);
    /* background: rgb(90, 85, 85); */
}

.dashboard .dashboard-main {
    padding: 0px 30px;
}

.dashboard .dashboard-header {
    width: 100%;
    height: 89px;
    background: rgba(255, 255, 255, 1);
    border: 0.75px solid rgba(248, 249, 250, 1);
    border-radius: 9px;
    box-shadow: 0px 3px 15px 0px rgba(231, 230, 230, 0.5);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.dashboard .dashboard-header h3 {
    font-weight: 600;
    font-size: 26px;
    line-height: 31.47px;
    color: rgba(89, 169, 255, 1);
}

.dashboard .dashboard-header p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color: rgba(142, 142, 142, 1);
    margin-bottom: 0px;
}



.dashboard .dashboard-main .dashboard-stepper-main .stepper-main {
    min-height: 588px;
    display: flex;
    gap: 0px 20px;
}




.dashboard .dashboard-main .dashboard-stepper-main .stepper-left {
    width: 260.76px;
    /* min-height: 588.24px; */
    background: rgba(255, 255, 255, 1);
    border: 0.75px solid rgba(248, 249, 250, 1);
    border-radius: 9px;
    box-shadow: 0px 3px 15px 0px rgba(231, 230, 230, 0.5);

}

.dashboard .dashboard-main .dashboard-stepper-main .stepper-left .stepper-left-header {
    width: 100%;
    height: 36.14px;
    border-radius: 4.17px 4.17px 0px 0px;
    background: rgba(89, 169, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard .dashboard-main .dashboard-stepper-main .stepper-left .stepper-left-header h3 {

    font-weight: 600;
    font-size: 13.33px;
    line-height: 16.14px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 0px;

}

/* =================Progress Bar=================== */
.dashboard .dashboard-main .dashboard-stepper-main .stepper-left .progress-area {
    width: 100%;
    min-height: 312.67px;
    display: flex;

    align-items: start;
    justify-content: space-between;
}

.dashboard .dashboard-main .dashboard-stepper-main .stepper-left .progress-area #circle-main,
.dashboard .dashboard-main .dashboard-stepper-main .stepper-left .progress-area #text-main,
.dashboard .dashboard-main .dashboard-stepper-main .stepper-left .progress-area #percentage-main {

    height: 312.67px !important;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;

}

.dashboard .dashboard-main .dashboard-stepper-main .stepper-left .percentage {
    width: 21.18px;
    height: 21.18px;
    background: rgba(89, 169, 255, 0.13);
    border-radius: 50%;
    font-weight: 700;
    font-size: 7px;
    line-height: 8.47px;
    color: rgba(89, 169, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard .dashboard-main .dashboard-stepper-main .stepper-left .progress-area #circle-main::after {
    content: "";
    background: rgba(149, 169, 180, 1);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0.50px;
    height: 100%;


}

.my-progress {

    background: rgba(89, 169, 255, 1);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0.50px;
    height: 100%;
    z-index: 99;
}



.dashboard .dashboard-main .dashboard-stepper-main .stepper-left .progress-area .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid rgba(149, 169, 180, 1);
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.dashboard .dashboard-main .dashboard-stepper-main .stepper-left .progress-area .circle .inner-circle {
    width: 8px;
    height: 8px;
    background: rgba(149, 169, 180, 1);
    border-radius: 50%;
}

.dashboard .dashboard-main .dashboard-stepper-main .stepper-left .progress-area p {
    font-weight: 400;
    font-size: 11.25px;
    line-height: 13.62px;
    color: rgba(25, 29, 35, 1);
    text-align: start;
}



/* ======xx===========Progress Bar==========xx========= */

.dashboard .dashboard-main .dashboard-stepper-main .stepper-right {
    width: 100%;
    background: red;

    background: rgba(255, 255, 255, 1);
    border: 0.75px solid rgba(248, 249, 250, 1);
    border-radius: 9px;
    box-shadow: 0px 3px 15px 0px rgba(231, 230, 230, 0.5);
    position: relative;
}

.shadow-stepper {
    background: rgba(255, 255, 255, 1);
    border: 0.75px solid rgba(248, 249, 250, 1);
    border-radius: 9px;
    box-shadow: 0px 3px 15px 0px rgba(231, 230, 230, 0.5);
    position: relative;
}

.dashboard .dashboard-main .dashboard-stepper-main .stepper-right label {
    font-weight: 500;
    font-size: 11.67px;
    line-height: 16.67px;
    color: rgba(52, 64, 84, 1);
}

.dashboard .dashboard-main .dashboard-stepper-main .stepper-right span {
    font-weight: 300;
    font-size: 10px;
    line-height: 16.67px;
    color: rgba(89, 169, 255, 1);

}

.stepper-right-f1 {
    font-weight: 700;
    font-size: 21.67px;
    line-height: 26.22px;
    color: rgba(89, 169, 255, 1);
}


.was-validated .form-control:invalid,
.form-control.is-invalid {
    border-color: rgba(89, 169, 255, 1) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='rgba(89, 169, 255, 1)'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='rgba(89, 169, 255, 1)' stroke='none'/%3e%3c/svg%3e") !important;
}

/* fORM1 */
form input[type="date"] {
    color: rgba(187, 186, 186, 1) !important;
}

/* Toggle Switch css */
.was-validated .form-check-input:valid:checked,
.form-check-input.is-valid:checked {
    background-color: rgba(89, 169, 255, 1);
}

.was-validated .form-check-input:valid,
.form-check-input.is-valid {
    border-color: rgba(202, 196, 208, 1);
}

.label-italic {
    font-weight: 400;
    font-size: 14.04px;
    line-height: 18.67px;
    color: rgba(102, 99, 99, 1) !important;


}

.label-italic span {
    font-weight: 400;
    font-size: 14.04px !important;
    line-height: 18.67px;
    color: rgba(89, 169, 255, 1) !important;
}

/* .arrow-btn-div {
    position: absolute;
    bottom: 7%;
    right: 5%;
} */

.arrow-btn {
    min-width: 200.93px;
    height: 44.06px;
    border-radius: 6.25px;
    border: none;
    outline: none;
    background: rgba(89, 169, 255, 1);
    font-weight: 400;
    font-size: 15.63px;
    line-height: 21.24px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 20px;
    padding: 0px 15px;

}


/* Form 3 */
select option {
    width: 10px !important;
    /* Adjust this width as needed */
}

/* ===========Footer================= */
footer {
    background: #ffff;
}

.footer-heading1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(17, 17, 17, 1);
}

.footer-heading2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(51, 51, 51, 1);
}

footer .footer-logo {
    max-width: 217.48px;
}

footer a {
    display: block;
    text-decoration: none;
}

footer p {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: rgba(51, 51, 51, 1);
}

footer .social-row {
    margin: 20px 0px 160px 0px;
}

footer .social-icons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0px 10px;
}

footer .social-icons img {
    max-width: 32px;
}

footer hr {
    border: 1px solid rgba(0, 0, 0, 1);
}

.form_error .error {
    color: red !important;
    font-size: 14px;
    position: relative;
    line-height: 1;
    width: 100% !important;
}